/* =======  Naven By DynamicLayers  ======= */


/* =======  Google Fonts  ======= */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Teko:400,500,600,700&display=swap');

/* ==========================================================================
   Global Properties
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #292929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #999;
    margin-bottom: 20px;
}
img {
    width: 100%;
    height: auto;
}
span,
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

span:hover,
a:hover {
    text-decoration: none;
    color: #cba982;
}
b {
    color: #cba982;
    font-weight: 400;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 400;
    font-family: 'Teko', sans-serif;
}
/* =======  Margin  ======= */
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-50{ margin-bottom: 50px; }
.mb-60{ margin-bottom: 60px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }
.mt-60{ margin-top: 60px; }
/* ======= Padding Styles  ======= */
.section-padding{ padding: 100px 0; }
.padding-10{ padding: 10px; }
.padding-15{ padding: 15px; }
/* =======  Border Style  ======= */
.bd-bottom{
    border-bottom: 1px solid #333;
}
.bd-top{
    border-top: 1px solid #333;
}
/* =======  Scrollbar  ======= */
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #292929;
}
::-webkit-scrollbar-thumb:hover {
    background: #292929;
}

/* selection */
::-webkit-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}
::selection {
    color: #999;
    background: rgba(0, 0, 0, 0.1);
}
/* =======  Preloader Styles  ======= */
.loaded .site-preloader-wrap {
    opacity: 0;
    visibility: hidden;
}
.site-preloader-wrap {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: #fff;
    top: 0;left: 0
}

.site-preloader-wrap .spinner {
    background-color: #cba982;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.spinner {
  width: 40px;
  height: 40px;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/* =======  Lines Styles  ======= */
.dl-side-content{
    position: relative;
}
.content-lines-wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.content-lines-inner {
    position: absolute;
    width: 1140px;
    left: 50%;
    margin-left: -570px;
    top: 0;
    height: 100%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}
.content-lines {
    position: absolute;
    left: 33.666666%;
    right: 33.666666%;
    height: 100%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
/* ==========================================================================
   Header Section
   ========================================================================== */
.header{
    min-height: 100vh;
    position: relative;
}
.header.video {
    overflow: hidden;
}
.header .caption .o-hidden {
    display: inline-block;
}
.header .caption h4 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    letter-spacing: 15px;
}
.header .caption h1 {
    font-size: 75px;
    color: #fff;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.header .caption p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    color: #fff;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.header .caption p span {
    text-transform: uppercase;
    margin: 0 5px;
    padding-right: 15px;
    position: relative;
}
.header .caption p span:last-child {
    padding: 0;
}
.header .caption p span:last-child:after {
    display: none;
}
.header .caption p span:after {
    content: '';
    width: 7px;
    height: 7px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #cba982;
    position: absolute;
    top: 10px;
    right: 0;
    opacity: .5;
}
.header .caption .btn {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

/* ==========================================================================
   Hero Section
   ========================================================================== */
.hero-section{
    background-image: url(../img/keyb.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
}
.hero-content{}
.hero-content h1{
    text-transform: uppercase;
}
.hero-content h2{
    font-size: 24px;
}
.hero-content h2 span{
    color: #cba982;
}
.hero-social{
    position: absolute;
    width: auto;
    height: auto;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.hero-social li{
    line-height: 35px;
}

/* ==========================================================================
   About Section
   ========================================================================== */
.about-section{}
.about-content{}
.about-bg img{
    width: 100%;
}
.about-bg{
    position: relative;
}
.about-bg .dots{
    background-image: url(../img/doted-pattern.png);
    position: absolute;
    width: 300px;
    height: 300px;
    left: -200px;
    bottom: 20px;
    opacity: 0.9;
}
.profile-info{
    margin-bottom: 30px;
}
.profile-info li{
    line-height: 35px;
}
.profile-info li span{
    font-weight: 600;
    width: 100px;
    letter-spacing: 0;
    color: #cba982;
    position: relative;
    margin-right: 10px;
}
.profile-info li span:after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

/* ==========================================================================
   Resume Section
   ========================================================================== */
.resume-section{}
.exp-list{}
.exp-list li{
    margin-bottom: 40px;
}
.exp-list li:last-child{
    margin-bottom: 0;
}
.exp-date{
    margin-bottom: 10px;
}
.exp-date i{
    background-color: #cba982;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
}
.exp-date span{}
.exp-content{}

/* =======  Progress Bar Styles  ======= */
.skill-items .skill-item{
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.skill-items .skill-item:last-child{
    margin-bottom: 0;
}
.skill-items .skill-item .progress {
    height: 10px;
    background-color: #ddd;
    box-shadow: none;
    margin-bottom: 0;
    overflow: visible;
    z-index: -1;
}
.skill-items .skill-item .progress,
.skill-items .skill-item .progress .progress-bar {
    border-radius: 2px
}
.skill-items .skill-item .progress .progress-bar {
    line-height: 5px;
    background-color: #cba982;
    position: relative
}
.skill-items .skill-item .progress .progress-bar span{
    background-color: #cba982;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-family: "Teko",sans-serif;
    position: absolute;
    top: -10px;
    right: -15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    z-index: 1;
}
.skill-items .skill-item .progress .progress-bar span:before{
    background-color: rgba(197, 164, 126,0.8);
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    line-height: 30px;
    border-radius: 50%;
    transform: scale(1.5);
    text-align: center;
    z-index: -1;
}

/* ==========================================================================
   Services Section
   ========================================================================== */
.services-section{}
.services-item{
    padding: 40px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.services-item:hover{
    background-color: #222;
    transition: all 0.2s ease-in-out;
}
.services-item .dots{
    background-image: url(../img/doted-pattern.png);
    position: absolute;
    width: 200px;
    height: 200px;
    right: -50px;
    bottom: -50px;
    opacity: 0.5;
    visibility: hidden;
    opacity:0.7;
    display: block;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
.services-item:hover .dots{
    visibility: visible;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}
.services-item i{
    color: #cba982;
    font-size: 50px;
    display: block;
    margin-bottom: 20px;
}
.services-item h3{ font-size: 36px; }
.services-item p{
    margin-bottom: 0;
}

/* ==========================================================================
   Portfolio Section
   ========================================================================== */
.portfolio-section{}
.portfolio-box{
    position: relative;
    overflow: hidden;
}
.portfolio-content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.portfolio-content:before{
    background-color: #222;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
.portfolio-box:hover .portfolio-content:before{
    bottom: 0;
    visibility: visible;
    opacity: 1;
}
.portfolio-content h3{
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;
}
.portfolio-box:hover h3{
    transform: translateY(0);
    transition-delay: 0.2s;
    visibility: visible;
    opacity: 1;
}
.portfolio-content h3 a{
    font-family: 'Teko', sans-serif;
    display: block;
    font-size: 28px;
    color: #fff;
    text-align: center;
}
.portfolio-content a span{
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* =======  Portfolio Filter Styles  ======= */
.portfolio-filter{
    display: block;
}
.portfolio-filter li{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}
.portfolio-filter li a{
    display: inline-block;
}
.portfolio-filter li:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #cba982;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 2px;
}
.portfolio-filter li.active:before,
.portfolio-filter li:hover:before, .portfolio-filter li:focus:before, .portfolio-filter li:active:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.portfolio-filter li:hover, .portfolio-filter li:focus, .portfolio-filter li:active{
    cursor: pointer;
}

/* ==========================================================================
   Testimonial Section
   ========================================================================== */
.testimonial-section{}
.testimonial-item{
    padding-top: 40px;
}
.testimonial-carousel.owl-carousel .owl-controls{ margin-top: 40px; }
.testimonial-innter{
    background: #222;
    text-align: center;
    padding: 40px;
    position: relative;
}
.cards-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 1rem;
  border: none;
}

.card-blog-content p {
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 300;
}

.card-blog-content p span {
  float: center;
}

.card-blog-content h4 {
  font-size: 24px;
  font-weight: bolder;
  text-transform: capitalize;
}

.card-blog-content a {
  font-weight: 400;
}

/* Pagination */

​.pagination {
  display: inline-block;
}

.pagination {
  margin: 3rem 3rem;
}

.pagination a {
  color: white;
  float: left;
  padding: 6px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  color: #999;
  background: #101010;
}

#wrapper {
  margin-left: 300px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #999;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  position: relative;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

/* header */

.header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-text {
  margin-top: 145px;
  color: white;
  text-align: center;
  z-index: 1;
}

.header-text h1 {
  font-size: 70px;
  font-weight: 700;
}

.header-text h4 {
  font-size: 22px;
  font-weight: 300;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background-color: black;
  height: 100vh;
  transition: 0.5s;
  display: block;
}

.brand-title {
  margin: 75px 0 60px 55px;
  font-size: 22px;
  font-weight: 300;
}

.side-links li {
  margin: 6px 8px 20px 56px;
  list-style: none;
  font-weight: 300;
  margin-bottom: 50px;
}

.side-links .active {
  color: white;
}

.side-links li a {
  display: inline-block;
  transition: ease 0.4s;
}

.side-links li a:hover {
  color: white;
  transform: translateX(10px);
}

footer {
  margin-top: 140px;
  text-align: center;
  font-weight: 300;
}

footer a {
  opacity: 0.7;
  margin-right: 6px;
}

footer small {
  display: inline-block;
  margin-top: 15px;
}

.main-footer {
  margin: 20px 0;
}

.main-footer div {
  display: none;
}

/* Menu Button */
.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
}

.menuButton {
  cursor: pointer;
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 1;
  display: none;
}

/* Close Button */
.closeButton {
  font-size: 50px;
  padding-left: 85%;
  color: whitesmoke;
  cursor: pointer;
  display: none;
}

/* Blog Styles */

.searchbar {
  text-align: center;
  margin: 15px auto;
}

.searchbar input {
  padding: 10px 10px;
  width: 250px;
}

.searchbar button {
  padding: 11px 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}


/* Categories list */
.categories-list {
  min-height: 100vh;
  background: #fff;
}

.categories-list h1 {
  font-weight: 300;
  padding: 50px 0 30px 0;
  text-align: center;
}

.categories-list .item {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.categories-list .item p {
  font-size: 16px;
}

.categories-list .item p,
.categories-list .item div,
.categories-list .item form {
  margin: 15px 8px;
}

.categories-list .item div a {
  padding: 6px 20px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  display: inline-block;
}

.categories-list .item input {
  padding: 6px 13px;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-size: 14px;
}

.categories ul li {
  list-style: none;
  background-color: #494949;
  margin: 20px 5px;

  border-radius: 15px;
}

.categories ul {
  display: flex;
  justify-content: center;
}

.categories a {
  color: white;
  padding: 10px 20px;
  display: inline-block;
}
.card-img-top{
    max-width: 80%;
    margin-top: 10p;
    margin-left: auto;
    margin-right: auto;
}
.card-text{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.create-categories a,
.index-categories a {
  all: revert;
  margin: 20px 0;
  display: inline-block;
  text-decoration: none;
}

.create-categories a span,
.index-categories a span {
  font-size: 22px;
}

.index-categories {
  text-align: center;
}

.header-title {
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 30px;
  font-weight: 300;
}

.cards-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-bottom: 1rem;
  border: none;
}

.card-blog-content p {
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 16px;
  font-weight: 300;
}

.card-blog-content p span {
  float: right;
}

.card-blog-content h4 {
  font-size: 24px;
  font-weight: bolder;
  text-transform: capitalize;
}

.card-blog-content a {
  font-weight: 400;
}

/* Pagination */

​.pagination {
  display: inline-block;
}

.pagination {
  margin: 3rem 3rem;
}

.pagination a {
  color: white;
  float: left;
  padding: 6px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover {
  background-color: #ddd;
  color: black;
}

.post-buttons {
  display: flex;
}

.post-buttons a {
  padding: 10px 20px;
  background-color: #4caf50;
  margin-right: 10px;
  color: #fff;
  margin-bottom: 7px;
  display: inline-block;
}

.post-buttons input {
  padding: 10px 13px;
  background-color: red;
  color: #fff;
  margin-bottom: 7px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Single Blog */
.single-blog-post h1 {
  text-align: center;
  margin: 80px 0 40px 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}

.single-blog-post p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
}

.single-blog-post .time-and-author {
  margin-left: 50px;
  margin-right: 50px;
}

.single-blog-post img {
  height: 50vh;
  object-fit: cover;
  width: 100%;
}

.single-blog-post .about-text {
  max-width: 700px;
  margin: 17px auto;
  line-height: 1.5;
}

.single-blog-post .about-text li {
  font-weight: 300;
  margin-bottom: 20px;
}

.single-blog-post p span {
  float: right;
}

.recommended-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.recommended-card {
  width: 350px;
  overflow: hidden;
  transition: 0.3s ease;
}

.recommended-card:hover {
  transform: translateY(-8px);
}

.recommended-card img {
  max-width: 100%;
}

.recommended-card h4 {
  max-width: 350px;
  font-size: 18px;
}

.recommended p {
  margin-top: 80px;
  margin-bottom: 15px;
}








/* dashboard */
.dashboard {
  margin-top: 30px;
}
.dashboard a {
  all: revert;
  font-size: 26px;
  display: inline-block;
  margin: 2px 0;
}

/* Medium devices and below */

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  #wrapper {
    margin-left: 0;
  }

  .menuButton {
    display: block;
  }

  .closeButton {
    display: block;
  }

  /* Recommednded Cards */
  .recommended-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  /* Blog */
  .cards-blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    background: #101010;
    margin-bottom: 1rem;
    border: none;
  }

  /* Recommended cards */
  .recommended-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  /* Footer */
  .main-footer div {
    display: block;
  }

  /* Contact-us */
  #contact-us .container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #contact-us .specific-info {
    margin-bottom: 25px;
  }

  /* Categories */
  .categories ul {
    flex-direction: column;
    text-align: center;
  }

  .categories ul li {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .categories ul li:nth-of-type(4) {
    margin-bottom: 25px;
  }
}

.pagination a:hover {
  background-color: #ddd;
  color: black;
}
.testimonial-item .testi-thumb img{
    width: 80px!important;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.testimonial-item .testi-thumb{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -40px;
}
.testi-content{
    margin-top: 20px;
}
.testi-content h4{
    display: block;
}
.testi-content h4 span{
    font-size: 16px;
    display: block;
    letter-spacing: 1px;
    font-weight: 400;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #cba982;
}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #cba982;
}

/* ==========================================================================
   Contact Section
   ========================================================================== */
.contact-section{}
.contact-form{}
.contact-form .form-group{ margin-bottom: 30px; }
.contact-form .form-group .form-control{
    background-color: #222;
    border: none;
    height: 60px;
    border-radius: 2px;
    color: #fff;
}
.contact-form .form-group .form-control:focus{
    box-shadow: none;
    outline: none;
}
.contact-form .form-group .form-control.message{
    height: 150px;
}
.contact-form .default-btn{
    border: none;
}
.contact-form .default-btn:focus{
    outline: none;
}
#form-messages{
    display: none;
    margin: 0;
}
#form-messages.form-status{
    display: block;
}
#form-messages .alert{ margin: 0; }

/* =======  Buttons Styles  ======= */
.default-btn{
    font-family: "Open Sans",sans-serif;
    letter-spacing: 0.5px;
    background-color: #cba982;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 35px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.default-btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333;
    -webkit-transform-origin: right center;
       -moz-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
         -o-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
       -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}
.default-btn:hover{
    color: #fff;
}
.default-btn:hover:before{
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);
            transform: scale(1, 1);
}
.default-btn i{
    margin-left: 10px;
}

/* ==========================================================================
   Footer Section
   ========================================================================== */
footer{
    padding: 60px 0;
    border-top: 1px solid #333;
    /* margin-top: auto; */
    position: relative;
}
footer p {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}
footer p a {
    color: #cba982;
}
.footer-social{}
.footer-social a{
    margin-left: 15px;
}


/* ======= Media Query  ======= */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 1199px) {
    .mobile-navigation {
        display: inline-block;
    }
    #primary-navigation {
        display: none;
    }
    .dl-side-content > .logo h1 {
        color: #fff;
        font-weight: 400;
        margin: 0;
        font-size: 30px;
    }
    .dl-side-content > .logo h1 span {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .sm-padding{
        padding: 15px 0;
    }
    .mb-50 {
        margin-bottom: 50px;
    }
    .about-bg .dots{
        display: none;
    }
    .header {
        background-attachment: scroll !important;
        background-position: 50% 0 !important;
    }
    .header .caption h4 {
        font-size: 30px;
    }
    .header .caption h1 {
        font-size: 45px;
        line-height: 1.2em;
    }
    .services .feat-item.active .text-center {
        padding-top: 50px;
        margin-top: 0;
    }
    .about .tab-content .image {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        margin: 50px 0 0;
    }
    .dl-side-content > .logo h1 {
        color: #fff;
        font-weight: 400;
        margin: 0;
        font-size: 30px;
    }
    .dl-side-content > .logo h1 span {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .row{
        margin: 0;
    }
    .xs-padding{
        padding: 15px;
    }
    .section-padding{
        padding: 60px 0;
    }
    .dl-side-content > .logo img {
        max-width: inherit;
        max-height: 30px;
        width: auto;
    }
    .dl-side-content > .logo h1 {
        color: #fff;
        font-weight: 400;
        margin: 0;
        font-size: 30px;
    }
    .dl-side-content > .logo h1 span {
        display: none;
    }
    .hero-social{
        position: inherit;
        left: inherit;
        top: inherit;
        transform:translateY(0);
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .hero-social li{
        display: inline-block;
        margin: 0 10px;
    }
    .contact-form .form-group { margin-bottom: 15px; }
    .cta-section,
    .cta-section .text-right{ text-align: center!important; }
}
@media screen and (max-width: 580px) {
    footer { text-align: center; }
    .footer-social {
        text-align: center!important;
        margin-top: 14px;
    }
    .footer-social a { margin: 0 10px; }
}
@media screen and (max-width: 480px) {
    .header .caption h4 {
        font-size: 15px;
        line-height: 1.75em;
    }
    .header .caption h1 {
        font-size: 40px;
        line-height: 1.2em;
    }

    .dl-side-content > .logo img {
        max-width: inherit;
        max-height: 30px;
        width: auto;
    }
    .dl-side-content > .logo h1 {
        color: #fff;
        font-weight: 400;
        margin: 0;
        font-size: 30px;
    }
    .dl-side-content > .logo h1 span {
        display: none;
    }
    .header .caption p {
        font-size: 15px;
        font-weight: 400;
        color: #eee;
        word-spacing: 2px;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
}
